ion-toolbar {
  background-color: var(--ion-color-reposteria);
}

.buttonPedido {
  color: #168132;
}

.buttonBorrar {
  color: #791515;
  margin-left: 2%;
}

.buttonBorrar, .buttonPedido {
  letter-spacing: 0.5px;
  background: #dfbd7375;
}

.center {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: block;
  left: 20px;
  right: 20px;
  top: 25%;
  transform: translateY(-50%);
}

.bold{
  font-weight: bold;
}
