<ion-header translucent="true">
  <ion-toolbar color="reposteria">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedItems" lines="inset">
      <!--{{item.cantidad}} x {{item.nombre}} - $ {{item.precio}}
      <span slot="end"t> $ {{item.precio * item.cantidad}} </span>-->
    </ion-item>
    <ion-item class="bold">
      Total: <span slot="end"> $ {{total}} </span>
    </ion-item>
  </ion-list>

  <div class="center">
    <ion-button class="buttonPedido" color="reposteria">Realizar Pedido</ion-button>
    <ion-button class="buttonBorrar" full round (click)="remove()" color="reposteria">Borrar carrito</ion-button>
  </div>

</ion-content>
