<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  BIENVENNIDO A ANTOJITOS MONTERREY 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  BIENVENIDO A ANTOJITOS MONTERREY </ion-title>
    </ion-toolbar>
  </ion-header>

<p ALIGN="center"><img 	 src="../../assets/IMAGENES/LOGO/logo.png" alt="logo"></p>

<h5 ALIGN="center">
  Somos una empresa enfocada en los distintos negocios y lugares de visita que puedes encontrar en Monterrey, ¡no dudes en recomendarnos!
</h5>

  
</ion-content>

