<ion-header>
  <ion-toolbar color="reposteria">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <img src="assets/img-menu/pastelfresachocolate.jpg" width="400" height="300" />
    <ion-card-header>
      <ion-card-title>Pastel de Chocolate y Fresa</ion-card-title>
      <ion-card-subtitle>Chocolate y Fresa</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Desde $420
      <ion-button [routerLink]="['/pastel-choc-fresa']" color="reposteria" expand="block">Comprar</ion-button>
    </ion-card-content>


  </ion-card>
  
  <ion-card align="center">
    <img src="assets/img-menu/cachitoZanahoria.jpg" width="400" height="300"/>
    <ion-card-header>
      <ion-card-title>Le Solle cachito</ion-card-title>
      <ion-card-subtitle>zanahoria</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Desde: $70
      <ion-button [routerLink]="['/solle']" color="reposteria" expand="block">Comprar</ion-button>
    </ion-card-content>
  </ion-card>

    <ion-card align="center">
      <img src="assets/img-menu/browniedechocolate.jpg" width="300" height="450"/>
      <ion-card-header>
        <ion-card-title>Brownie</ion-card-title>
        <ion-card-subtitle>Chocolate</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Desde: $200
        <ion-button [routerLink]="['/brownie']" color="reposteria" expand="block">Comprar</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-card align="center">
    <img src="assets/img-menu/galletas.jpg" width="600" height="300"/>
    <ion-card-header>
      <ion-card-title>Galletas de mantequilla y mermelada</ion-card-title>
      <ion-card-subtitle>Mermelada</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Desde: $25
      <ion-button [routerLink]="['/galletas']" color="reposteria" expand="block">Comprar</ion-button>
    </ion-card-content>
</ion-card>
</ion-content>
