<ion-header>
  <ion-toolbar color="reposteria">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center" *ngFor="let postre of postres">
    <img src="../../assets/img-menu/{{postre.imagen}}" width="400" height="300" />
    <ion-card-header>
      <ion-card-title>{{postre.nombre}}</ion-card-title>
      <ion-card-subtitle>{{postre.sabor}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Desde ${{postre.precio}}
      <ion-button [routerLink]="['/postre',postre.id]" color="reposteria" expand="block">Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
