<ion-header>
  <ion-toolbar color="reposteria">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pastel de Chocolate y Fresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <img src="assets/img-menu/pastelfresachocolate.jpg" width="400" height="300" />
    <ion-card-header>
      <ion-card-title>Pastel de Chocolate y Fresa</ion-card-title>
      <ion-card-subtitle>Chocolate y Fresa</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      ¡Disfruta de nuestro delicioso pastel de chocolate y fresa! Este pastel es perfecto para satisfacer tus antojos de dulces. Es una mezcla perfecta entre el rico sabor a chocolate y la frescura de las fresas. Nuestro pastel es suave, húmedo y muy esponjoso, hecho con los mejores ingredientes de calidad.
      Cada bocado de nuestro pastel te deleitará con el sabor del chocolate y la frescura de las fresas. Es ideal para compartir en cualquier evento especial o simplemente para darte un capricho en un día normal. Además, es un pastel que se ve tan bien como sabe, con un hermoso glaseado y adornos de fresas frescas.
      ¡No esperes más para probar nuestro pastel de chocolate y fresa! ¡Haz tu pedido ahora y déjanos endulzar tu día!
      <br>
      PRECIO: $420 pesos mexicanos
      <ion-item>
        <ion-label>Cantidad:</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>
      <ion-button [routerLink]="['/carrito']" color="reposteria">Añadir al carrito</ion-button>
      <ion-button>Agregar a favoritos</ion-button>
      
    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Comentarios</ion-card-title>
      <ion-card-subtitle>Tu opinion nos importa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Dejanos tu comentario!" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-button>Comentar</ion-button>

      <br><br>

      <h1>Sección de comentarios</h1>      

      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col><ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon></ion-col>
              <ion-col size="10"><ion-text>Riquisimo, volvere el dia de mañana a por otros dos</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col><ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon></ion-col>
              <ion-col size="10"><ion-text>Rico</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col><ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon></ion-col>
              <ion-col size="10"><ion-text>El mejor postre que he provado en mucho tiempo, lo recomiendo totalmente</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col><ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon></ion-col>
              <ion-col size="10"><ion-text>Ideal para acompañarlo con un rico cafe y relajarse todo el dia leyendo un libro</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
