<div class="contenido-login">


  <ion-label id="login-text">Ingresa a tu <span>cuenta</span>:</ion-label>

  <div>
    <ion-item class="input" >
      <ion-label>Correo:</ion-label>
      <ion-input placeholder="Ingresa tu Correo"></ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>
  </div>

  <ion-label id="forgot_psswrd">Olvide mi contraseña</ion-label>
  
  <div class="botones">
    <ion-button class="boton" (click)="goToMapa()">Iniciar sesion</ion-button>
    <ion-label>o</ion-label>
    <ion-button class="boton" (click)="goToRegister()">Registrate</ion-button> 
  </div>

</div>


