ion-item {
    --color: #dadada;
    --ion-color-base: #fff;
    --ion-color-primary: #007bff;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-shade: #0069d9;
    --ion-color-primary-tint: #4a90e2;
  
    margin-bottom: 20px;
  }
  
  ion-button {
    --background: #007bff;
    --color: #fff;
  }
  
  .custom-content {
    margin-top: 200%;
    text-align: justify;
  }
  