<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Joel Alejandro Leon Perez</strong>
    <p>Bienvenida a Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Hola mundo</a></p>
  </div>
</ion-content>
