<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-button expand="full" [routerLink]="['/recompensas']" routerDirection="root" routerLinkActive="active-item"
      class="boton-menu">
      <ion-icon name="paw-outline" class="tab-bar__icono"></ion-icon>
      Mascotas Perdidas
    </ion-button>

    <ion-button expand="full" [routerLink]="['/radar-mascotas']" routerDirection="root" routerLinkActive="active-item">
      <ion-icon name="compass-outline"></ion-icon>
      Radar de Mascotas
    </ion-button>

    <ion-button expand="full" [routerLink]="['/map-aviso']" routerDirection="root" routerLinkActive="active-item">
      <ion-icon name="location-outline"></ion-icon>
      Agregar Mascotas</ion-button>

    <ion-button color="danger" expand="full" [routerLink]="['/account']" routerDirection="root"
      routerLinkActive="active-item">
      <ion-icon name="person" class="tab-bar__icono"></ion-icon>
      Cuenta
    </ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Mascota Perdida</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">

    <ion-content>
      <div #map id="map"></div>
    </ion-content>


    <div class="formMarker">
      <ion-title> <ion-icon name="paw-outline" class="tab-bar__icono"></ion-icon>
        Agrega tu mascota perdida:</ion-title>

      <ion-item class="input">
        <ion-input [(ngModel)]="mascota.nombreMascota" label="Stacked label" labelPlacement="stacked"
          placeholder="Nombre de la mascota perdida:"></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-input [(ngModel)]="mascota.descripcion" label="Stacked label" labelPlacement="stacked"
          placeholder="Descripción:"></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-input [(ngModel)]="mascota.fechaPerdido" label="Stacked label" labelPlacement="stacked"
          placeholder="Perdido/a hace:"></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-input [(ngModel)]="mascota.recompensa" label="Stacked label" labelPlacement="stacked"
          placeholder="Recompensa a pedir:"></ion-input>
      </ion-item>

      <ion-button fill="outline" (click)="agregarMascota()">Agregar</ion-button>
    </div>

  </ion-content>
</div>