<div class="contenido-login">


  <p>Ingresa a tu <span>cuenta</span>:</p>

  <div>
    <ion-item class="input" >
      <ion-label>Usuario:</ion-label>
      <ion-input placeholder="Ingresa tu Usuario"></ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>
  </div>

  <p id="forgot_psswrd">Olvide mi contraseña</p>
  <div class="botones">
    <ion-button class="boton">Iniciar sesion</ion-button>
    <p>o</p>
    <ion-button class="boton" (click)="gotoRegister()">Registrate</ion-button>
  </div>

</div>

<ion-fab slot="fixed" vertical="top" horizontal="center" (click)="gotoAccount()">
  <ion-fab-button id="boton-esc__icono">
    <ion-icon name="close-outline"></ion-icon>  
  </ion-fab-button>
</ion-fab>
