<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
      <ion-title class="ion-align-items-center">
        <h1 align="center" height="400px" vertical-align="middle">Cristian Salazar Bautista <ion-icon slot="icon-only" name="person-circle" size="large"></ion-icon></h1>
      </ion-title>
  </ion-header>
  <ion-list>
    <ion-item><ion-icon name="navigate" class="ion-margin"></ion-icon>Promociones</ion-item>
    <ion-item><ion-icon name="help-buoy-outline" class="ion-margin"></ion-icon>Centro de ayuda</ion-item>
    <ion-item><ion-icon name="lock-closed-outline" class="ion-margin"></ion-icon>Politicas de seguridad</ion-item>
    <ion-item><ion-icon name="chatbox-outline" class="ion-margin"></ion-icon>Comentarios</ion-item>
  </ion-list>
</ion-content>
