<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="../../assets/img/Logo.png" alt="" width="200"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
    <ion-button class="login" expand="block">Iniciar sesión</ion-button>
<ion-button class="registro" expand="block">Registrarse</ion-button>

  </ion-header>

  <div id="container">
    <strong>CriticalGaming</strong>
    <p>Esta pagina se basa en Videojuegos.</p>
  </div> 
</ion-content>
