#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Botón de inicio de sesión */
ion-button.login {
  --background: #007bff;
  --color: #fff;
  --border-radius: 10px;
  --box-shadow: none;
  --ion-activatable-background-color: #007bff;
  --ion-activatable-background-transparency: 0.6;
}

/* Botón de registro */
ion-button.registro {
  --background: #fff;
  --color: #007bff;
  --border-radius: 10px;
  --box-shadow: none;
  --border: 1px solid #007bff;
  --ion-activatable-background-color: #007bff;
  --ion-activatable-background-transparency: 0.6;
}

ion-content.background{
  --background: url(../../assets/img/fondo.png)
}