// Globales
.on-click {
    --ripple-color: gray;
    --color-activated : black;
  }
  .no-ripple{
    --ripple-color: white;
    --color-activated : black;
  }
  .icono-boton{
    color: gray;
    margin-right: 10px;
  }
// Botones de navegacion
.tab-bar{
    margin: 10px 10px;
    border-radius: 10px;
    --background: white;
    --border:black;
    -webkit-box-shadow: 0px 0px 30px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 30px 20px rgba(0,0,0,0);
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0);
  }
  
  .tab-bar__texto{
    font-weight: bold;
  }
  
  .on-click-tab-bar{
    color: gray;
    transition: color 0.5s ease-in-out,
                transform 0.5s ease-in-out;
  
  }
  .on-click-tab-bar:hover{
    transform: translateY(-2px);  
    .tab-bar__icono{
      color: #2085d8;
    }
    .tab-bar__texto{
      color: black;
    }
  }