<ion-app>
  <ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button  tab="about" class="no-ripple on-click-tab-bar" (click)="gotoRecompensas()">
      <ion-icon name="cash-outline" class="tab-bar__icono"></ion-icon>
        <ion-label class="tab-bar__texto">Recompensas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="about" class="no-ripple on-click-tab-bar" (click)="gotoHome()">
      <ion-icon name="radio" class="tab-bar__icono"></ion-icon>
      <ion-label class="tab-bar__texto">Radar de Mascotas</ion-label>
    </ion-tab-button>
  
    <ion-tab-button  tab="about" class="no-ripple on-click-tab-bar" (click)="gotoAccount()">
      <ion-icon name="person" class="tab-bar__icono"></ion-icon>
        <ion-label class="tab-bar__texto">Mi Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>
