<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>CitricalGaming</ion-title>
  </ion-toolbar>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button class="interactive-element" class="login" expand="block" routerLink="/login">Iniciar sesión</ion-button>
        <ion-button class="interactive-element" class="registro" expand="block" routerLink="/registrar" >Registrarse</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  


</ion-header>
<ion-menu side="start" content-id="main">
  <ion-content id="menuFloat">
      <ion-list>
          <ion-menu-toggle *ngFor="let c of datosMenu">
              <ion-item class="interactive-element" (click)="navegar(c.enlace)">
                  <ion-icon name='{{c.icono}}'></ion-icon>
                  <ion-label>{{ c.nombre }}</ion-label>
              </ion-item>
          </ion-menu-toggle>
      </ion-list>
  </ion-content>
</ion-menu>