<ion-content [fullscreen]="true">

  <div class="cuenta-interfaz">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="200" height="200"
      viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <circle cx="12" cy="12" r="9" />
      <circle cx="12" cy="10" r="3" />
      <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
    </svg> <!--IMAGEN-->
    <ion-button [routerLink]="['/login']" class="botones-registro">Iniciar sesion</ion-button>
    <ion-button [routerLink]="['/register']" class="botones-registro">Crear una cuenta</ion-button>
  </div>

  <div class="menu-opciones">
    <ion-list class="opciones" lines="full">
      <ion-item button class="opciones__boton on-click">
        <ion-icon class="icono-boton" name="paw-outline"></ion-icon>
        <ion-label>Tus Mascotas</ion-label>
        <ion-icon class="icono-boton" name="arrow-forward"></ion-icon>
      </ion-item> <!-- boton-->

      <ion-item button class="opciones__boton on-click">
        <ion-icon class="icono-boton" name="wallet-outline"></ion-icon>
        <ion-label>Tu monedero</ion-label>
        <ion-icon class="icono-boton" name="arrow-forward"></ion-icon>
      </ion-item> <!-- boton-->

      <ion-item button class="opciones__boton on-click">
        <ion-icon class="icono-boton" name="cog-outline"></ion-icon>
        <ion-label>Configuracion</ion-label>
        <ion-icon class="icono-boton" name="arrow-forward"></ion-icon>
      </ion-item> <!-- boton-->

    </ion-list>
  </div>

</ion-content>

<!-- <ion-tab-bar slot="bottom" class="tab-bar">
  <ion-tab-button  tab="about" class="no-ripple on-click-tab-bar">
    <ion-icon name="cash-outline" class="tab-bar__icono"></ion-icon>
      <ion-label class="tab-bar__texto">Recompensas</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="about" class="no-ripple on-click-tab-bar" (click)="gotoHome()">
    <ion-icon name="radio" class="tab-bar__icono"></ion-icon>
    <ion-label class="tab-bar__texto">Radar de Mascotas</ion-label>
  </ion-tab-button>

  <ion-tab-button  tab="about" class="no-ripple on-click-tab-bar">
    <ion-icon name="person" class="tab-bar__icono"></ion-icon>
      <ion-label class="tab-bar__texto">Mi Cuenta</ion-label>
  </ion-tab-button>
</ion-tab-bar> -->