:root{
  .color1 {color: #2085d8;}
  .color2 {color: #20b1d8;}
  .color3 {color: #20dad9;}
  .color4 {color: #cbefed;}
  .color5 {color: #f8efed;}
}

// Globales
.on-click {
  --ripple-color: gray;
  --color-activated : black;
}
.no-ripple{
  --ripple-color: white;
  --color-activated : black;
}
.icono-boton{
  color: gray;
  margin-right: 10px;
}
ion-content{
  --background: url("../../img/fondoMascotas.jpg") no-repeat center center / cover;
}


// Interfaz de la cuenta del usuario
.cuenta-interfaz{
  display: flex;
  flex-direction: column;
  align-items: center; 
  // Alinear contenido
  margin: 50px auto;
  padding: 20px; 
  width: 80%;
  // Darle tamanio

  background: white;
  border-radius: 2%;
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  // Colores y sombras

  .cuenta-intefaz__nombre {
    font-size: 2rem;
    color: black;
    font-family: Roboto;
    text-transform: uppercase;
  }
}

// Interfaz del menu de opciones del usuario
.menu-opciones{
  margin: 20px;
  border-radius: 5px;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  padding: 10px 0 20px 0;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opciones{
  --ion-item-background: rgb(255, 255, 255);
}

.opciones__boton{
  color: rgb(0, 0, 0);
}

.botones-registro{
  --background:white;
  color: black;
}

ion-button {
  --background: #ffffff;
 

  --color: rgb(0, 0, 5);

  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --padding-top: 10px;
  --padding-bottom: 10px;
}