:root{
  .color1 {color: #2085d8;}
  .color2 {color: #20b1d8;}
  .color3 {color: #20dad9;}
  .color4 {color: #cbefed;}
  .color5 {color: #f8efed;}
}

// Globales
ion-content{
  --background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.icono-boton{
  color: gray;
  margin-right: 10px;
}


// Interfaz de la cuenta del usuario
.cuenta-interfaz{
  display: flex;
  flex-direction: column;
  align-items: center; 
  // Alinear contenido

  margin: 30px;
  padding: 20px; 
  // Darle tamanio

  background: rgb(203,239,237);
  background: linear-gradient(339deg, rgba(203,239,237,1) 0%, rgba(32,177,216,1) 65%, rgba(32,177,216,1) 100%);
  border-radius: 2%;
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  // Colores y sombras
}

// Interfaz del menu de opciones del usuario
.menu-opciones{
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.07);
  padding: 10px 0 20px 0;
}

.opciones{
  --ion-item-background: none;
}

.opciones__boton,
.info-usuario{
  color: rgb(102, 100, 100);
  --border-color: rgb(239, 232, 232);
}

.info-usuario h3{
  color: black;
  font-size: 15px;
}


.botones-registro{
  --background:white;
  color: black;
}

