<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <form [formGroup]="ionicForm" (ngSubmit) = "submitForm()" novalidate>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="5">
        <ion-card>
          <ion-card-content>

            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
             <ion-text color="danger" *ngIf="hasError('email', 'email')">
                <h5>Debe ser un correo valido</h5>
              </ion-text>
              <ion-text color="danger" *ngIf="hasError('email', 'required')">
                <h5>Campo requerido</h5>
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <ion-text color="danger" *ngIf="!ionicForm.valid && ionicForm.controls['password'].touched && !hasError('password','required')">
                <h5>Maximo 6 caracteres</h5>
              </ion-text>
              <ion-text color="danger" *ngIf="hasError('password', 'required')">
                <h5>Campo requerido</h5>
              </ion-text>
            </ion-item>

            <ion-button expand="block" [disabled] = "!ionicForm.valid" type = "submit">Iniciar sesión</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-text class="ion-text-center">¿No tienes una cuenta? <a routerLink="/registrar">Regístrate aquí</a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
