.contenido-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, white 0%, #20b1d8 100%);



    #register-text {
        font-family: "Lobster", cursive;
        font-size: 50px;
        text-align: center;
        margin: 10px;
        color: black;
    }

    .input {
        --background: #FFFFFF;
        --color: #30343f;
        --border-color: white;
        border-radius: 10px;
        margin-top: 15px;
        margin: 20px, 0;
        width: 100%;
        --highlight-background: #e2e2e2;
    }

    & ion-label span {
        font-family: "Lobster", cursive;
        color: white;
    }
}


.botones {
    display: flex;
    flex-direction: column;
    align-items: center;

    .boton {
        margin: 10px 0;
        --background: white;
        --border-radius: 10px;
        color: black;
        width: 100%;
    }

    ion-label {
        font-family: "Lobster", cursive;
        font-size: 2rem;
        color: black;
    }
}