<div class="contenido-login">


  <ion-label id="register-text">¡<span>Registrate</span>!</ion-label>

  <div>
    <ion-item class="input">
      <ion-label>Usuario:</ion-label>
      <ion-input [(ngModel)]="data.user" placeholder="Ingresa tu usuario!"></ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label>Contraseña:</ion-label>
      <ion-input [(ngModel)]="data.password" type="password" value="password" placeholder="******"></ion-input>
    </ion-item>
  </div>
  <div class="botones">
    <ion-button id ="registerUser" class="boton" (click)="registerUser()">Registrate Ahora</ion-button>
    <ion-label>o</ion-label>
    <ion-button class="boton" [routerLink]="['/login']" routerDirection="root" routerLinkActive="active-item">Ya tengo una cuenta</ion-button>
  </div>

</div>