<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  DESCUBRE TU PROXIMA SALIDA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  DESCUBRE TU PROXIMA SALIDA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>aqui va el titulo</ion-card-title>
      <ion-card-subtitle>aqui el subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      aqui la description de el rstaurante o talves alguna resena o estrellas o algo mas
    </ion-card-content>
  </ion-card>

</ion-content>