<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  DESCUBRE TU PROXIMA SALIDA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.png">  DESCUBRE TU PROXIMA SALIDA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Pollo Loco" src="../../assets/IMAGENES/RESTAURANTES/polloloco.jpg" />
    <ion-card-header>
      <ion-card-title>Pollo loco</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <ion-card-subtitle color="success">Se come rico y barato!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      El Pollo Loco es una franquicia de restaurantes de pollo asado mexicano de 400 sucursales en Estados Unidos y México fundada en Guasave, Sinaloa, México en 1975.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Kurai Sushi" src="../../assets/IMAGENES/RESTAURANTES/kuraisushi.jpeg" />
    <ion-card-header>
      <ion-card-title>Kurai Sushi</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <ion-card-subtitle color="warning">Gran variedad de comida, pero el precio no tan razonable.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Kurai sushi es un restaurante buffet de sushi y comida oriental. Un lugar muy colorido y espacioso. Sus sucursales en Monterrey se encuentran en Avanta Gardens y Fashion Drive.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Muncher House" src="../../assets/IMAGENES/RESTAURANTES/muncherhouse.jpg" />
    <ion-card-header>
      <ion-card-title>Muncher House</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      <ion-card-subtitle color="success">Un estandarte de la cocina regiomontana, un manjar para el paladar, pruebalo y disfruta de lo que es, el Norte del pais. <br>Tiene el sello Antojitos Monterrey.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Comida para el alma, techo para el corazón. <br>Muncher House es un restaurante que se especializa en hamburguesas de diferentes tipos e ingredientes, así como bebidas con o sin alcohol. Tiene cuatro sucursales en la zona metropolitana de Monterrey, Nuevo León, México.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Gordas Doña Tota" src="../../assets/IMAGENES/RESTAURANTES/doñatota.png" />
    <ion-card-header>
      <ion-card-title>Gorditas Doña Tota</ion-card-title>
      <ion-icon name="star-half"></ion-icon>
      <ion-card-subtitle color="danger">Gorditas Doña Tota le hizo a las gorditas lo que Porfirio Diaz a Mexico.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Fundada en Saltillo, México, en 1952, Gorditas Doña Tota ha expandido su presencia a lo largo de México y en algunos lugares de Estados Unidos. La empresa se ha destacado por su compromiso con la calidad de sus productos y la satisfacción de sus clientes, convirtiéndose en una de las franquicias de comida rápida más populares de México.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Tacos Popo" src="../../assets/IMAGENES/RESTAURANTES/tacospopo.jpg" />
    <ion-card-header>
      <ion-card-title>Tacos Popo</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      <ion-card-subtitle color="success">Nada como unos excelentos tacos, ya sea de al pastor o asada, o mañaneros de una gran variedad de guisos para saciar el hambre.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Restaurante Taquería 🌮
Ambiente familiar.
4 Sucursales:
📍 Fray Bartolomé ☎ 8376 8219 -Mañaneros
📍 Fray Bartolomé ☎ 8352 9828 -Tarde
📍Cumbres Elite ☎ 1095 1148
📍 Contry ☎81 3402 4917
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Panem" src="../../assets/IMAGENES/RESTAURANTES/panem.jpg" />
    <ion-card-header>
      <ion-card-title>Panem Bakery</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      <ion-card-subtitle color="warning">El pan esta rico y el cafe tambien, pero la comida aparte de cara no esta tan buena.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Panem Bakery es una panadería y cafetería ubicada en la ciudad de Monterrey, Nuevo León, México. Es conocida por su amplia variedad de panes y postres recién horneados, así como por sus opciones de café de alta calidad.
    </ion-card-content>
  </ion-card>

</ion-content>